**/a.out
**/*.swp
**/libft.a
**/*.o
vm/corewar
asm/asm
misc/dumb_tests/**/asm
misc/dumb_tests/**/corewar
misc/dumb_tests/**/test_xxd
misc/dumb_tests/**/zork_xxd
misc/dumb_tests/**/*.cor
**/__pycache__
**/*.pyc
resources/**/*.cor
asm/tests/input/*.cor
vm/tests/parsing_trace.txt
